{{#if posts}}
  {{#foreach posts}}
  <article class="post {{post_class}}">
    <header class="post__header">
      <h2 class="post__title"><a href="{{url}}">{{{title}}}</a></h2>

      <section class="post__meta-wrapper">
        <ul class="post__meta">
          <li class="post__meta-item post__meta-date"><i class="fa fa-calendar"></i> <time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time></li>

          <li class="post__meta-item post__meta-author">
            {{#has author="count:>1"}}
              {{> "multiple-authors"}}
            {{else}}
              {{> "single-author"}}
            {{/has}}
          </li>

          {{#if tags}}
          <li class="post__meta-item post__meta-tags"><i class="fa fa-folder-open"></i> {{tags}}</li>
          {{/if}}

          <li class="post__meta-item post__meta-reading-time"><i class="fa fa-clock-o"></i> {{reading_time}}</li>
        </ul>
      </section>
    </header>

    {{#if feature_image}}
    <section class="post__feature-image-wrapper">
        <a href="{{url}}">
          <div class="post__feature-image" style="background-image: url({{feature_image}})"></div>
        </a>
    </section>
    {{/if}}

    <section id="post-content" class="post__content">
      {{content}}
    </section>

  </article>
  {{/foreach}}
{{else}}
  <div class="text-center text-muted">
    <h3>
      No posts found!
    </h3>
  </div>
{{/if}}

{{pagination}}
