<!DOCTYPE html>
<html lang="{{lang}}">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <title>{{meta_title}}</title>

  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

  <link rel="stylesheet" type="text/css" href="{{asset "dist/style.css"}}" />

  {{ghost_head}}
</head>
<body class="{{body_class}}">
  {{navigation}}

  {{{body}}}

  <footer class="site-footer clearfix container text-muted">
    <hr>
    <div class="row">
      <div class="col-md-6">
        <a href="#top" data-scroll="true">
          <i class="fa fa-arrow-up"></i> Back to top
        </a>
      </div>
      <div class="col-md-6 text-right">
        <p><strong>{{@blog.title}}</strong> &copy; {{date format="YYYY"}}</p>
        <p><small>Theme by <a href="http://nehalist.io" target="_blank">nehalist.io</a></small></p>
      </div>
    </div>
  </footer>

  <script type="text/javascript" src="{{asset "dist/bundle.js"}}"></script>

  {{ghost_foot}}

</body>
</html>
